name: zip builder

on:
  push:
    branches:
      - master
  repository_dispatch:
    types: [make_zip]
  workflow_dispatch:

jobs:
  make-zip:
    runs-on: ubuntu-latest
    env:
      LAMBDA_DIR: /tmp/lambda
      ARTEFACT_NAME: rabbit_queue_checker.zip
    steps:
    - uses: actions/checkout@v3
    - name: setting up docker builder
      run: |
        mkdir $LAMBDA_DIR
        cp requirements.txt lambda_function.py $LAMBDA_DIR
        docker run --rm -v "$LAMBDA_DIR":/var/task lambci/lambda:build-python3.11 pip install -r requirements.txt -t /var/task/ --no-cache-dir --compile
    - name: zipping
      run: |
        cd $LAMBDA_DIR
        zip -r -9 $ARTEFACT_NAME .
    - name: replacing package
      run: mv $LAMBDA_DIR/$ARTEFACT_NAME package/$ARTEFACT_NAME
    - name: display size
      run: ls -lah package/
    - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add --all package/
          git commit -m "Autogenerated zip"
          git push
    - name: claim done
      run: echo "Done" && ls -lah package/